.home {
  display: flex;
  flex-direction: column;
  gap: var(--md-gap);
  margin: var(--lg-margin);
}

.home__title {
  font-size: var(--lg-font-size);
  font-weight: var(--lg-font-weight);
  line-height: var(--lg-font-height);
  font-family: var(--font-primary);
}

@media (max-width: 480px) {
  .home {
    margin: var(--sm-margin);
  }
}
