.characterCard {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characterImageWrapper {
  width: 100%;
  height: 189.97px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.characterImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.characterCardDivider {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--marvel-red);
  height: var(--card-divider-width);
  border: none;
  box-shadow: none;
  width: 100%;
  z-index: 10;
}

.characterInfo {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: var(--sm-padding) var(--sm-padding) var(--sm-padding)
    var(--sm-padding);
  text-align: center;
  flex: 1;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 12.86px),
    calc(100% - 12.86px) 100%,
    0 100%
  );
  background: linear-gradient(
    to top,
    var(--dark-color) 50%,
    var(--marvel-red) 50%
  );
  background-size: 100% 200%;
  background-position: right bottom;
  overflow: hidden;
  border: none;
  transition: background-position 0.5s ease-in-out;
}

.characterCard:hover .characterInfo {
  background-position: right top;
}

.characterName {
  width: var(--card-title-width);
  font-size: var(--md-font-size);
  color: var(--light-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.favoriteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.favoriteButton:focus,
.favoriteButton:active {
  outline: none;
  box-shadow: none;
  border: none;
}

.heartIcon {
  width: 24px;
  height: 22px;
  background: transparent;
}

.favorited {
  color: var(--marvel-red);
  transition:
    background-color 0.3s ease-in,
    filter 0.3s ease-out;
}

.characterCard:hover .favorited {
  background-color: var(--light-color);
  filter: brightness(0) invert(1);
  background: transparent;
}
