.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--xs-gap);
  padding: var(--xs-padding) 0;
}

.search__inputWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: var(--xxs-padding);
  border-bottom: 1px solid var(--dark-color);
}

.search__icon {
  display: flex;
  align-items: center;
}

.search__iconSvg {
  width: var(--search-icon-width);
  height: var(--search-icon-height);
}

.search__input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: var(--font-primary);
  font-size: var(--md-font-size);
  font-weight: var(--sm-font-weight);
  line-height: var(--xs-line-height);
}

.search__input::placeholder {
  color: var(--grey-color);
}

.search__label {
  display: flex;
  gap: var(--xs-gap);
}

.search__results {
  font-family: var(--font-primary);
  font-size: var(--xxs-font-size);
  font-weight: var(--sm-font-weight);
  line-height: var(--xs-line-height);
  color: var(--dark-color);
}
