.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--xs-gap);
  padding: var(--xs-padding) 0;
}

.search__input-wrapper {
  display: flex;
  gap: var(--xs-gap);
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--dark-color);
}

.search__icon {
  display: flex;
  align-items: center;
}

.search__icon-svg {
  width: var(--search-icon-width);
  height: var(--search-icon-height);
}

.search__input {
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: var(--primary-font);
  font-weight: var(--sm-font-weight);
  font-size: var(--md-font-size);
}

.search__label {
  display: flex;
}

.search__input::placeholder {
  color: grey;
}

.search__results {
  color: var(--dark-color);
}
