.loadingBar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 0;
  height: var(--loading-bar-height);
  background-color: var(--marvel-red);
  opacity: 0;
  visibility: hidden;
  transition: width 5s ease-out;
}

.loadingBar.loading {
  width: 100%;
  opacity: 1;
  visibility: visible;
}
