.header {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--sm-padding) var(--lg-padding);
  background-color: var(--dark-color);
  color: var(--light-color);
}

.header__logo {
  width: var(--marvel-logo-width);
  height: var(--marvel-logo-height);
  text-transform: uppercase;
  cursor: pointer;
}

.header__favoritesCounter {
  display: flex;
  align-items: center;
  gap: var(--xxs-gap);
  padding: var(--xxs-padding);
  font-family: var(--font-primary);
  font-size: var(--md-font-size);
  font-weight: var(--xs-font-weight);
  line-height: var(--md-line-height);
  cursor: pointer;
}

.header__heartIcon {
  width: 24px;
  height: 21.68px;
}

@media (max-width: 480px) {
  .header {
    padding: var(--sm-padding) var(--sm-padding);
  }
}
