.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--sm-padding) var(--sm-padding);
  background-color: var(--dark-color);
  color: var(--light-color);
  z-index: 10;
  position: relative;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
  width: var(--marvel-logo-width);
  height: var(--marvel-logo-height);
}

.favorites-counter {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
}

.heartIcon {
  width: 24px;
  height: 24px;
}
