.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  gap: 24px;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 32px;
}

.characterImage {
  width: 180px;
  height: 250px;
  object-fit: cover;
}

.characterInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.characterName {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  color: #d1d1d1;
}

.comicsSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.comicsTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center;
}

.comicsLayout {
  margin: 0 auto;
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
  gap: 16px;
  padding: 8px;
  background-color: #fff;
  width: 100%;
  max-width: 50rem;
  position: relative;
  scroll-behavior: smooth;
}

.comicsLayout::-webkit-scrollbar {
  height: 8px;
  background-color: #ccc;
}

.comicsLayout::-webkit-scrollbar-thumb {
  background-color: red;
}

.comicsLayout > * {
  flex-shrink: 0;
}

.comicCard {
  flex: 0 0 auto;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.comicImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.comicName {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

/* Loading Bar */
.loadingBar {
  width: 0;
  height: 4px;
  background-color: red;
  opacity: 0;
  visibility: hidden;
  transition:
    width 5s ease-out,
    opacity 5s ease-out;
}

.loadingBar.loading {
  width: 100%;
  opacity: 1;
  visibility: visible;
}
