.character-detail__container {
  display: flex;
  flex-direction: column;
  gap: var(--lg-gap);
}

.character-detail__header {
  display: flex;
  justify-content: center;
  background-color: var(--dark-color);
  width: 100%;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 24px),
    calc(100% - 24px) 100%,
    0 100%
  );
}

.character-detail__content-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 'image info';
  width: var(--tablet-width);
  color: var(--light-color);
}

.character-detail__character-image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.character-detail__character-info {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-content: center;
  padding: 0 0 0 var(--lg-padding);
  gap: var(--md-padding);
}

.character-detail__character-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.character-detail__character-name {
  font-size: var(--xl-font-size);
  font-weight: var(--lg-font-weight);
  line-height: var(--xl-line-height);
  min-width: 145px;
  color: var(--light-color);
  text-align: left;
}

.character-detail__truncate-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.character-detail__description {
  font-size: var(--md-font-size);
  font-weight: var(--sm-font-weight);
  line-height: var(--md-line-height);
  color: var(--light-color);
  text-align: left;
}

.character-detail__truncate-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  line-clamp: 5;
}

.character-detail__comics-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.character-detail__comics-section-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: var(--tablet-width);
  gap: var(--md-gap);
}

.character-detail__comics-title {
  font-size: var(--lg-font-size);
  font-weight: var(--lg-font-weight);
  line-height: var(--lg-line-height);
  color: var(--dark-color);
  font-family: var(--font-primary);
  text-align: center;
}

.character-detail__comics-layout {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: var(--sm-gap);
  background-color: var(--light-color);
  position: relative;
  width: 100%;
  padding-bottom: var(--md-gap);
}

.character-detail__comic-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: var(--comic-desktop-width);
  flex: 0 0 auto;
  gap: 8px;
}

.character-detail__comic-image {
  width: 100%;
  height: 268.8px;
  max-height: 268.8px;
  object-fit: cover;
  object-position: top;
}

.character-detail__comic-info {
  display: flex;
  flex-direction: column;
}

.character-detail__comic-name {
  font-size: var(--md-font-size);
  font-weight: var(--md-font-weight);
  line-height: var(--md-line-height);
  font-family: var(--font-primary);
  color: var(--text-color);
  margin: 0;
}

.character-detail__comic-launch-date {
  font-size: var(--xxs-font-size);
  font-weight: var(--sm-font-weight);
  line-height: var(--xs-line-height);
  font-family: var(--font-primary);
  color: var(--text-color);
  margin: var(--xxs-margin) 0 0;
  text-align: left;
}

.character-detail__toggle-heart {
  cursor: pointer;
  width: 24px;
  height: 21.68px;
}

@media (max-width: 960px) {
  .character-detail__character-info {
    padding: 0 var(--lg-padding);
  }

  .character-detail__content-header {
    width: 100%;
  }

  .character-detail__character-image {
    min-width: 220px;
  }

  .character-detail__character-name {
    font-size: var(--lg-font-size);
    line-height: var(--lg-line-height);
  }

  .character-detail__comics-section {
    align-items: flex-start;
    padding-left: var(--lg-gap);
    width: calc(100% - var(--lg-gap));
  }

  .character-detail__comics-section-container {
    width: 100%;
  }

  .character-detail__comic-card {
    width: var(--comic-tablet-width);
  }

  .character-detail__comic-name {
    font-size: var(--sm-font-size);
    line-height: var(--mm-line-height);
  }

  .character-detail__comic-launch-date {
    font-size: var(--xxxs-font-size);
    line-height: var(--xxs-line-height);
    margin: var(--xxs-margin) 0 0;
  }
}

@media (max-width: 600px) {
  .character-detail__character-info {
    padding: 0 var(--sm-padding);
  }
}

@media (max-width: 480px) {
  .character-detail__header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .character-detail__comics-section {
    padding-left: var(--sm-gap);
    width: calc(100% - var(--sm-gap));
  }

  .character-detail__character-image {
    width: 100%;
    height: auto;
    max-height: 397.89px;
    object-fit: cover;
    object-position: top;
  }

  .character-detail__content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 100%;
  }

  .character-detail__character-info {
    padding: var(--md-padding) var(--sm-padding);
    width: 100%;
    box-sizing: border-box;
  }
}
